atomicwrites==1.4.0
attrs==20.3.0
bitstring==3.1.7
black==19.3b0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
docker==4.4.1
entrypoints==0.3
falcon==2.0.0
filelock==3.0.12
flake8==3.8.4
flake8-bugbear==20.11.1
gunicorn==20.0.4
importlib-metadata==3.3.0
iniconfig==1.1.1
mccabe==0.6.1
more-itertools==8.6.0
numpy==1.19.4
packaging==20.9
pip==21.0.1
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.2.1
scipy==1.5.4
setuptools==52.0.0
six==1.15.0
toml==0.10.2
urllib3==1.26.5
virtualenv==20.4.3
wcwidth==0.2.5
websocket-client==0.57.0
wheel==0.36.2
zipp==3.4.0
